# python Tutorial

- boolean variable 
- boolean and logical opretor 
- list 
- compariasn opretor 
- tuples 
- set

#  Boolean Variable

# bool()

In [6]:
type(True)

bool

In [7]:
my_str="Swapnil pandit"

In [10]:
print(my_str.isalpha())
print(my_str.isalnum())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.endswith('t'))
print(my_str.startswith('S'))

False
False
False
False
True
True

### boolean with logical opretore

In [16]:
True and True

True

In [17]:
True and False

False

In [18]:
True or False

True

In [19]:
True or True

True

In [20]:
string_myexam = "Hello word"
mystring="swapnil"

In [21]:
mystring.isalpha() or string_myexam.isalnum()

True

### Lists

In [23]:
list=['MAHARASTRA', 'KHANAPUR', 100 , 200 ]

In [25]:
print(list)

['MAHARASTRA', 'KHANAPUR', 100, 200]

### Append

In [26]:
list.append("SANGLI")

In [27]:
print(list)

['MAHARASTRA', 'KHANAPUR', 100, 200, 'SANGLI']

In [31]:
list[3:]

[200, 'SANGLI']

### Nested List

In [38]:
list.append(["MIraj", "Kupwad"])

In [40]:
list

['MAHARASTRA',
 'KHANAPUR',
 100,
 200,
 'SANGLI',
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad']]

In [41]:
list

['MAHARASTRA',
 'KHANAPUR',
 100,
 200,
 'SANGLI',
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad']]

In [42]:
list.append(["SWAP"])

In [43]:
list

['MAHARASTRA',
 'KHANAPUR',
 100,
 200,
 'SANGLI',
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['MIraj', 'Kupwad'],
 ['SWAP']]

###  pop () method

In [5]:
lst=[1,2,3,4,5,]

In [6]:
lst

[1, 2, 3, 4, 5]

In [7]:
## Extend the list

lst.extend([6,7])

In [8]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [9]:
#varias opretion that we can perform 

sum(lst)

28

In [10]:
#pop method is remove the element form list
lst.pop()

7

In [11]:
lst

[1, 2, 3, 4, 5, 6]

In [12]:
lst.pop(5)

6

In [13]:
lst.pop(4)

5

In [16]:
lst

[1, 2, 3, 4]

### count ():Calculate occuranceof given element of list

In [57]:
lst=[1,1,2,4,3,4,6]
lst.count(4)

2

### set

- A set is unordered collection of data type that is iterable, mutable, and non duplicaton element. Python's set class represents the mathamatical nation of a set. this is based of data structure know as hash table

In [57]:
lst = [1,2,3,4,5,6,7,8]
print(lst)
list(map(lambda el:lst.pop(), lst))

#el=set.pop()
#print('element poped',el)
#print('remening element in set',set)
#el=set.pop()
#print('element poped',el)
#print('remening element',set)
#el=set.pop()
#print('element is poped',el)
#print('remianing element',set)

[1, 2, 3, 4, 5, 6, 7, 8]

[8, 7, 6, 5]

In [41]:
set_var= set()
print(set_var)
print(type(set_var))

TypeError: 'set' object is not callable

In [3]:
set_var={"avenger", "Ironman", "spiderman"}

In [17]:
print.pop(2)

AttributeError: 'builtin_function_or_method' object has no attribute 'pop'

In [61]:
set_var.add("Hulk")

In [62]:
set_var

{'Hulk', 'Ironman', 'avenger', 'spiderman'}

In [63]:
set1={"Avenger", "Ironman", "spaiderman"}
set2={"Avenger", "Ironman", "spaiderman", "Hulk"}

In [65]:
set2.difference(set1)

{'Hulk'}

In [66]:
set2.intersection(set1)

{'Avenger', 'Ironman', 'spaiderman'}

In [67]:
set2.intersection_update(set1)

In [68]:
set2

{'Avenger', 'Ironman', 'spaiderman'}

### Dictionaries

In [69]:
Dic={}

In [70]:
type(Dic)

dict

In [71]:
dic={1,2,3,4}

In [72]:
type(dic)

set

In [4]:
# lets create a dictionarie

my_dict = {"car1": "Audi", "car2": "BMW", "car3": "Marcidies Benz", "car4":"lamborgini" }

In [5]:
type(my_dict)
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Marcidies Benz', 'car4': 'lamborgini'}

In [7]:
for x in my_dict:
    print(x)

car1
car2
car3
car4

In [8]:
for x in my_dict.values():
    print(x)

Audi
BMW
Marcidies Benz
lamborgini

In [5]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Marcidies Benz')
('car4', 'lamborgini')

### nested dictionaries

In [1]:
car_model1={"audi":1962}
car_model2={"BMW":1979}
car_model3={"Marcidies Benz":1956}

car_type={'car1':car_model1, 'car2':car_model2, 'car3':car_model3}

In [2]:
print(car_type)

{'car1': {'audi': 1962}, 'car2': {'BMW': 1979}, 'car3': {'Marcidies Benz': 1956}}

In [7]:
print(car_type['car2'])

{'BMW': 1979}

In [8]:
print(car_type['car1']['audi'])

1962

### tuple

In [9]:
#create an empty tuple

my_tuple= tuple()

In [10]:
type(my_tuple)

tuple

In [2]:
my_tuple=("swapnil", "raj", "suraj")

In [3]:
print(my_tuple)

('swapnil', 'raj', 'suraj')

In [4]:
#if i try to change tuple elemete it cant chNGE. you can change hole tuple but in tuple a single elemet you cant be change i'll show yoou

my_tuple[0]= 'pandit'

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [6]:
#now we change hole tuple 

print(my_tuple)
#and updated tuple
my_tuple=("pandit", "john", "rohan")

print(my_tuple)

('pandit', 'john', 'rohan')
('pandit', 'john', 'rohan')